<h1>Ajouter un etudiant</h1>

<form #f="ngForm" (submit)="addstudent(f)">
<!--
  <div class="form-group">
    <label for="iban">indice <span class="red">*</span></label>
    <input type="text" class="form-control" id="indice" name="indice" ngModel #i="ngModel" required pattern="[0-9]+">
    <div *ngIf="i.invalid && i.touched" class="alert alert-danger" role="alert">
      <span >Le champ indice est obligatoire!</span>
      <span >Le code indice doit commencer par une lettre suivies de un ou plusieurs chiffres</span>
    </div>
  </div>
-->
  <div class="form-group">
    <label for="Titre">nome <span class="red">*</span></label>
    <input type="text" class="form-control" id="nome" name="nom" ngModel #t="ngModel" required>
    <div *ngIf="t.invalid && t.touched" class="alert alert-danger" role="alert">
      <span>Le champ nom est obligatoire!</span>
    </div>

  </div>
  <div class="form-group">
    <label for="date_publication">prenom <span class="red">*</span></label>
    <input type="text" class="form-control" id="prenom" name="prenom" ngModel #d="ngModel" required>
    <div *ngIf="d.invalid && d.touched" class="alert alert-danger" role="alert">
      <span>Le champ prenom est obligatoire!</span>
    </div>
  </div>

  <div class="form-group">
    <label for="classe">classe <span class="red">*</span></label>
    <input type="text" class="form-control" id="classe" name="class" ngModel #p="ngModel" required>
    <div *ngIf="p.invalid && p.touched" class="alert alert-danger" role="alert">
      <span>Le champ classe est obligatoire!</span>
    </div>
  </div>
  <div>
    <input type="submit" class="btn btn-primary" value="Ajouter" [disabled]="f.invalid">
  </div>
  <div><span class="red">*</span> : Champ obligatoire</div>
</form>
